@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Manrope:wght@400;500;600;700&family=Montserrat:wght@400;500&family=Poppins:wght@400;700&display=swap');

:root {
  --bg__color: #fdf7f2;
  --accent__color: rgb(245, 146, 86);
  --input__color: rgba(245, 146, 86, 0.5);
  --backdrop__color: rgba(17, 17, 17, 0.6);
  --btn__color: #ffffff; // і фоновий для спливаючих вікон і для карточок звірят
  --in-good-hands: rgba(255, 255, 255, 0.6);
  --btn__shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
  --btn__shadow__focus: 0px 0px 2px 4px rgba(245, 146, 86, 0.7), 0px 0px 2px 4px rgba(245, 146, 86, 0.7), 0px 0px 4px 2px rgba(245, 146, 86, 0.7);
  --animation__duration__woman: 1000ms;
}

html[data-theme='light'] {
  background-color: var(--bg__color);
  --header__color: #000000;
  --form__color: #ffffff;
  --text__color: #111111;
  --color__activelight: transparent;
  --card__color: #ffffff;
  --card__shadow: 7px 4px 14px rgba(0, 0, 0, 0.11);
  --transform__card: none;
  --burger__color:#fdf7f2;
  --card__shadowpets:7px 4px 14px rgba(49, 21, 4, 0.07)
}

html[data-theme='dark'] {
  --header__color: #ffffff;
  --form__color: #0a0907d0;
  --text__color: #ffffff;
  --color__activedark: rgb(233, 106, 27);
  --card__color: rgb(247, 236, 214);
  --card__shadow: 2px 4px 8px 1px rgb(105, 104, 104, 0.5),
    2px 4px 8px 3px rgb(233, 106, 27, 0.6);
  --transform__card: scale(1.015);
  --burger__color: rgb(206, 197, 189);
  --card__shadowpets:2px 4px 8px 1px rgb(105, 104, 104, 0.5),
    2px 4px 8px 3px rgb(255, 107, 8, 0.6);

  background-image: linear-gradient(to right, #5c4d3d, #513d37, #423032, #2f242b, #1d1a21, #1d1a21, #1d1a21, #1d1a21, #2f242b, #423032, #513d37, #5c4d3d);
}

body {
  margin: 0;
  font-family: 'Manrope';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background-color: #fdf7f2;
  // background-color: var(--bg__color);
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, grey);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #ff6b08);
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

/* lazyload */
