.modal {
    position: relative;
    height: 200vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    z-index: 999;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal__content {
    position: relative;
    top: -400px;
    padding: 15px;
    border-radius: 15px;
    transform: scale(0.5);
    transition: 0.4s all;
}

.modal__content.active {
    transform: scale(1);
}